# Virtual Environment
.venv/
env/
venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Operating System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large temporary conversion files (original video/temp gif)
*.tmp
aeroBg-ezgif.com-video-to-gif-converter.gif
